<main>
  <h2>Financial Independence, Retire Early</h2>
  <br>
  <div><p>FIRE is a movement for people who want to retire earlier than the traditional age of 65, by saving money through heavy investing.</p></div>
  <br>
<div>
<p>This application is being developed for the FIRE Movement (Financial Independence, Retire Early). FIRE is a movement for people who want to retire earlier than the traditional age of 65, by saving money through heavily investing.
  End users for this FIRE application include:
  <br>
  <br>
  - Retired Individuals who have already achieved financial independence and are looking to move to their ideal location.
  <br>
  - Non Retired individuals who are planning for a financially independent future and would like to prepare their finances to accommodate their preferred living location.</p>
</div>
</main>
