:host {
  --content-padding: 10px;
}

header {
  display: block;
  min-height: 120px;
  padding: var(--content-padding);
  box-shadow: 0px 5px 25px var(--shadow-color);
}

.content {
  padding: var(--content-padding);
}

.header-container {
  background-color: var(--primary-color);
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-areas: "logo . nav";
}

.brand-logo {
  color: var(--accent-color);
  padding-top: 10px;
}

.fire-logo {
  grid-area: logo;
  justify-self: start;
}

.nav-bar {
  grid-area: nav;
  justify-self: end;
}

a {
  text-decoration: none;
}


/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/